#submitbutton {
    margin-top: 20px;
    margin-bottom: 20px;
}
#sortbutton {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
input {
    margin: 10px;
}
#displaynamewithcommas {
    border: 1px solid violet;
    padding: 10px;
    background-color: purple;
    border-radius: 10px;
    width: 50%;
}
#displaynamewithoutcommas {
    border: 1px solid cyan;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    width: 50%;
}
